@import "./_variable"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_font"
@import "./_icons"

body
    font-family: "popins"
    background-color: zak

#treeImg
    .img
        background-image: url("../../public/img/services/service-1.jpg")
        height: 33vh
        width: 66vh
        background-size: cover
        background-position: center
        border: solid 10px white
        .text-treeImg
            position: absolute
            z-index: 1
            text-decoration: underline
            // text-decoration: under




// media query


// // @media (min-width : 576px) and (max-width: 768px){
// //     .zak img{
// //         width:25%
// //     }
// // }

// @media (min-width : 768px) and (max-width: 992px){
//     .zak img{
//         width:100%
//     }
// // }

// @media (min-width: 300px) and (max-width: 600px)
//     .zak span
//         width: 100%