/* Error: Inconsistent indentation, expected 4 spaces.
 *     ,
 * 114 |  /* Modal Content/Box *∕
 *     | ^
 *     '
 *   src/sass/styles.sass 114:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 4 spaces.\a     \2577 \a 114 \2502   /* Modal Content/Box */\a     \2502  ^\a     \2575 \a   src/sass/styles.sass 114:1  root stylesheet";
}
